*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    margin: 0% 2%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo2{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #eee;
   
}
@media (max-width:500px){
    .logo2{
        display: flex;
        justify-content: space-between;
    }
}
.nam-link{
    display: flex;
}
@media (max-width:500px){
    .nam-link{
      margin-top: 0%;
    }
}
.nam-link a{
    padding: 8px 15px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    border: 1px solid rgb(162, 160, 160);
    /* font-weight: 600; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@media (max-width:500px){
    .nam-link a{
        border: 1px solid #888;
        background-color: #EEE;
        font-size: 17px;
        text-transform: capitalize;
        padding: 9px 5px;
        
       
    }
}
/*  */
.header{
    padding: 5px;
    margin-top: 1%;
}

.header h1{
    color: black;
    font-size: 27px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
@media (max-width:500px){
    .header h1{
        padding: 10px;
    }
}
.header p{
    color: #444;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    /* border: 1px solid rgb(162, 160, 160); */
    /* font-weight: 600; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}

/* phase2 */

.phase-two-container{
    width: 100%;

    border-radius: 2px;
}
.phrase-two-table{
    margin: 3% 4%;
    border: 1px solid rgb(114, 44, 44); 
    border-top: none;
    border-radius: 6px;
    /* width: 100%; */
}
table{
    border-collapse: collapse;
    margin: 0% 0%;
    width: 100%;
}
@media (max-width:500px){
    table{
        padding-top: 4%;
    }
}
td{
    border: 1px solid #dddddd;
    text-align: left;
    width: 100%;
}
tr{
    display: flex;
}
@media (max-width:500px){
    tr{
        display:left;
        position: relative;
        width: 98%;
        
    }
}
.phrase-two-table input{
    width: 90%;
    margin: 1% 1%;
    padding: 10px;
}
@media (max-width:500px){
    .phrase-two-table input{
        width: 80%;
    }
}
option::placeholder{
    font-size: 16px;
    text-transform: capitalize;
}
select::placeholder{
    text-transform: capitalize;
}
input::placeholder{
    text-transform: capitalize;
}
.form-select {
    width: 94%;
    margin: 1% 1%;
    padding: 6px;
}
.form-select option{
    padding-top: 6px;
    font-size: 17px;
    text-transform: capitalize;
}
.quantity{
    margin-left: 2%;
}
.btn{
    width: 20%;
    padding: 12px;
    color: red;
    font-weight: 600;
}
#qtyInput, 
#qtyInput_two,
#qtyInput_three{
    width: 20%;
    padding: 12px;
}
.individual{
    padding: 10px;
}
.individual p{
    padding: 6px;
    text-transform: capitalize;
    font-weight: 600;
    color: #444;
    font-size: 16px;
}
.individual h1{
    font-weight: 600;
    font-size: 27px;
    color: #444;
    text-overflow: unset;
}
.individual button{
    padding: 10px;
    font-size: 17px;
    color: #444;
    text-transform: capitalize;
}
.multiselect{
    width: 100%;
    display: none;
}
.selectBox{
 position: relative;
}
.selectBox select{
    width: 100%;
    font-weight: bold;
    padding: 8px;
}
.overSelect{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.checkboxes{
    display: none;
    border: 1px solid #dadada;
    width:50%;
    height: 25%;
    padding: 6px;
}
@media (max-width:500px){
    .checkboxes{
        width: 100%;
        height: 125px;
    } 
}
label{
    display: flex;
    justify-content: center;
    background-color: #eee;
}
@media (max-width:500px){
    label{
        display: block;
    }  
}
label p{
    width:100%;
    font-size: 15px;
    text-transform: capitalize;
    color: #444;
    margin-right: 40%;
    left: 0;
}
label:hover{
    background-color: #d4c8c8;
}
.group{
    padding: 7px;
    margin-top: 2%;
}
.group p{
    font-size: 18px;
    /* text-transform: capitalize; */
    color: #444;
}
.group p a {
    color: rgb(114, 44, 44);
    font-weight: bold;

}

/* submit form button */

 .submit-btn{
    background-color:rgb(114, 44, 44);
    border: 2px solid rgb(114, 44, 44);
    color: #dddddd;
    font-size: 18px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
@media (max-width:500px){
    .submit-btn{
        width: 100%;
        font-size: 16px;
    } 
}
.submit button{
    padding: 10px;
    font-size: 17px;
    color: #444;
    text-transform: capitalize;
}

